<div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h4>Defina sua nova senha</h4>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <form name="form" role="form" novalidate ng-submit="finishReset()">
                                    <div class="form-group">
                                        <label>Nova Senha</label>
                                        <input type="password" class="form-control" name="password"
                                               placeholder="Nova Senha"
                                               ng-model="resetAccount.password" ng-minlength=5 ng-maxlength=50 required>

                                        <div ng-show="form.password.$dirty && form.password.$invalid">
                                            <p class="help-block"
                                               ng-show="form.password.$error.required">
                                                Informe a nova senha.
                                            </p>

                                            <p class="help-block"
                                               ng-show="form.password.$error.minlength">
                                                Sua senha deve ter pelo menos 5 caracteres.
                                            </p>

                                            <p class="help-block"
                                               ng-show="form.password.$error.maxlength">
                                                Sua senha não pode ter mais de 50 caracteres.
                                            </p>
                                        </div>
                                        <password-strength-bar
                                            password-to-check="resetAccount.password"></password-strength-bar>
                                    </div>

                                    <div class="form-group">
                                        <label>Confirmar Senha</label>
                                        <input type="password" class="form-control" name="confirmPassword"
                                               placeholder="Confirme sua nova senha"
                                               ng-model="confirmPassword"
                                               ng-minlength=5 ng-maxlength=50 required>

                                        <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                                            <p class="help-block"
                                               ng-show="form.confirmPassword.$error.required">
                                                Informe a nova senha.
                                            </p>

                                            <p class="help-block"
                                               ng-show="form.confirmPassword.$error.minlength">
                                                Sua senha deve ter pelo menos 5 caracteres.
                                            </p>

                                            <p class="help-block"
                                               ng-show="form.confirmPassword.$error.maxlength">
                                                Sua senha não pode ter mais de 50 caracteres
                                            </p>
                                        </div>
                                    </div>
                                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary btn-block">
                                        Salvar
                                    </button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
