<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="cancel()">&times;</button>
    <h4 class="modal-title" id="myUserLabel">
        Usuários</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <search-box ng-model="searchQuery" search-method="search()"></search-box>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Código</th>
                <th>Login</th>
                <th>e-Mail</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users">
                <td><a ui-sref="user-management-detail({login:user.login})">{{user.id}}</a></td>
                <td>{{user.login}}</td>
                <td>{{user.email}}</td>
                <td class="text-right">
                    <button type="submit"
                            ng-click="ok(user)"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-check"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pager">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a href="#">
                    &lt;&lt;</a>
                </li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a href="#">&lt;</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a href="#">&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a href="#">&gt;&gt;</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
