<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <h2>Senha para o usuário <b>{{account.dadosPessoais.nomeRazaoSocial}}</b></h2>

                <form name="form" role="form" novalidate ng-submit="changePassword()" show-validation>

                    <div class="form-group">
                        <label>Senha Atual</label>
                        <input type="password" class="form-control" name="currentpassword"
                               ng-model="trocarSenhaDTO.oldPassword" required>

                        <label>Nova Senha</label>
                        <input type="password" class="form-control" name="password"
                               ng-model="trocarSenhaDTO.newPassword" ng-minlength=5 ng-maxlength=50 required>

                        <div ng-show="form.password.$dirty && form.password.$invalid">
                            <p class="help-block"
                               ng-show="form.password.$error.required">
                                Campo obrigatório.
                            </p>

                            <p class="help-block"
                               ng-show="form.password.$error.minlength">
                                A senha requer no mínimo 5 dígitos.
                            </p>
                        </div>
                        <password-strength-bar password-to-check="password"></password-strength-bar>
                    </div>
                    <div class="form-group">
                        <label>Confirmação da Nova Senha</label>
                        <input type="password" class="form-control" name="confirmPassword"
                               ng-model="trocarSenhaDTO.confirmPassword" ng-minlength=5 ng-maxlength=50 required>

                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.required">
                            Campo obrigatório.
                        </p>

                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.minlength">
                            A confirmação da senha requer no mínimo 5 dígitos.
                        </p>
                    </div>

                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>
