<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="cancel()">&times;
    </button>
    <h4 class="modal-title" id="myMunicipioLabel">
        <strong>{{campanha.descricao}}</strong>
    </h4>
</div>
<div class="modal-body">
    <div class="row" style="overflow-x: scroll;  max-height: 300px;">
        <h4><strong>Meus Bilhetes</strong></h4>
        <div class="table-responsive">
            <table class="table table-striped table-hover small">
                <thead>
                <tr>
                    <th>Bilhete</th>
                    <th>Prêmio</th>
                    <th>Data Divulgação dos Bilhetes</th>
                    <th>Data Sorteio</th>
                    <th>NFSe Número</th>
                    <th>Emissão</th>
                    <th>Prestador</th>
                    <th>Tomador</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="cupom in cupons | orderBy:'-dataSorteio'">
                    <td>{{cupom.numero}}</td>
                    <td>{{cupom.premio}}</td>
                    <td>{{cupom.dataDivulgacaoCupons | date: 'dd/MM/yyyy' : '+0000'}}</td>
                    <td>{{cupom.dataSorteio | date: 'dd/MM/yyyy' : '+0000'}}</td>
                    <td>{{cupom.numeroNotaFiscal}}</td>
                    <td>{{cupom.emissaoNotaFiscal | date: 'dd/MM/yyyy' : '+0000'}}</td>
                    <td>{{cupom.prestador}}</td>
                    <td>{{cupom.tomador}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
