<div class="row">
    <div class="col-md-10 col-md-offset-1 m-t-lg">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span>Regulamento</span>
            </div>
            <div class="ibox-content">
                <div>
                    <div class="col-md-12" style="overflow: auto; max-height: 400px;">
                        <div ng-bind-html="trustAsHtml(termo.conteudo)"></div>
                    </div>
                </div>


                <div class="row" style="padding: 50px 0 10px 0;">
                    <div class="form-group m-t-md">
                        <div class="col-md-4">
                            <input type="checkbox" ng-model="aceito">
                            <span>Estou de acordo com o termo de uso.</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group m-t-md">
                        <div class="col-md-4">
                            <button type="button" class="btn btn-default"
                                    ng-click="logout()">
                                <i class='fa fa-check-circle-o'></i>
                                Sair
                            </button>
                            <button type="button" class="btn btn-info"
                                    ng-disabled="!aceito"
                                    ng-click="continuar()">
                                <i class='fa fa-check-circle'></i>
                                Continuar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
