<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="cancel()">&times;</button>
    <h4 class="modal-title" id="myServicoLabel"
        translate="nfseApp.servico.home.title">
        Create or edit a Servico</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <search-box ng-model="searchQuery" search-method="search()"></search-box>
        </div>
    </div>
    <div class="table-responsive">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Codigo</th>
                <th>Descricao</th>
                <th>Aliquota</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="servico in servicos">
                <td>{{servico.codigo}}</td>
                <td>{{servico.descricao}}</td>
                <td>{{servico.aliquota}}</td>
                <td class="pull-right">
                    <button type="submit"
                            ng-click="ok(servico)"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-check"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
