<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nota</title>
</head>
<body>
<style>
    * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        font-size: 12px;
    }

    .corpo {
        width: 748px;
        margin: 10px;
        border: #000000 solid 1px;
    }

    .pdLeft10 {
        padding-left: 10px;
    }

    .pd10 {
        padding: 10px;
    }

    .pdRight10 {
        padding-right: 10px;
    }

    .tpBlack {
        border-top: #000000 solid 1px;
    }

    .btBlack {
        border-bottom: #000000 solid 1px;
    }

    .lfBlack {
        border-left: #000000 solid 1px;
    }

    .rgBlack {
        border-right: #000000 solid 1px;
    }

    .larguraTotal {
        width: 100%;
    }

    .textCenter {
        text-align: center;
    }

    .textLeft {
        text-align: left;
    }

    .textRight {
        text-align: right;
    }
</style>


<div class="corpo">
    <table class="larguraTotal" cellpadding="0" cellspacing="0">
        <tr>
            <td style="width: 80%" class="rgBlack pdLeft10">
                <p>PREFEITURA MUNICIPAL DE PARANAVAÍ</p>

                <p>Secretaria Municipal de Fazenda Pública</p>

                <p>NOTA LEGAL - Nota Fiscal Eletrônica de Serviços</p>
            </td>
            <td>
                <table class="larguraTotal" cellspacing="0">
                    <tr>
                        <td class="btBlack rgBlack">
                            Número do RPS <br/>
                            123132
                        </td>
                        <td class="btBlack">
                            Número da nota <br/>
                            123132132132312
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="btBlack">
                            Data de emissão da nota <br/>
                            03/10/2015
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="btBlack">
                            Data do fato gerador <br/>
                            03/10/2015
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Código de verificação <br/>
                            IU3Y1I23U1-213H1NKI23-13I2U1
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table class="larguraTotal tpBlack btBlack">
        <tr>
            <td class="textCenter">
                PRESTADOR DE SERVIÇOS
            </td>
        </tr>
    </table>
    <div>
        <table>
            <tr>
                <td>
                    <table class="pdLeft10">
                        <tr>
                            <td>Nome fantasia: JD SISTEMAS</td>
                        </tr>
                        <tr>
                            <td>Nome/Razão social: J. W. DIAS & CIA LTDA</td>
                        </tr>
                        <tr>
                            <td>CPF/CNPJ:12.398.474/0001-12</td>
                        </tr>
                        <tr>
                            <td>Endereço: R RAFAEL BRUNO Número: 66 Bairro: CENTRO CEP: 87701-040</td>
                        </tr>
                        <tr>
                            <td>Complemento: JD SISTEMAS</td>
                        </tr>
                        <tr>
                            <td>Município: Paranavaí</td>
                        </tr>
                        <tr>
                            <td>E-mail: jaimewdias@gmail.com</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <table class="larguraTotal tpBlack btBlack">
        <tr>
            <td class="textCenter">
                TOMADOR DE SERVIÇOS
            </td>
        </tr>
    </table>
    <div>
        <table>
            <tr>
                <td>
                    <table class="pdLeft10">
                        <tr>
                            <td>Nome fantasia: JD SISTEMAS</td>
                        </tr>
                        <tr>
                            <td>Nome/Razão social: J. W. DIAS & CIA LTDA</td>
                        </tr>
                        <tr>
                            <td>CPF/CNPJ:12.398.474/0001-12</td>
                        </tr>
                        <tr>
                            <td>Endereço: R RAFAEL BRUNO Número: 66 Bairro: CENTRO CEP: 87701-040</td>
                        </tr>
                        <tr>
                            <td>Complemento: JD SISTEMAS</td>
                        </tr>
                        <tr>
                            <td>Município: Paranavaí</td>
                        </tr>
                        <tr>
                            <td>E-mail: jaimewdias@gmail.com</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <table class="larguraTotal tpBlack btBlack">
        <tr>
            <td class="textCenter">
                DISCRIMINAÇÃO DOS SERVIÇOS
            </td>
        </tr>
    </table>
    <div>
        <table class="pdLeft10 pdRight10 larguraTotal">
            <tr>
                <th class="textLeft">Serviço</th>
                <th class="textRight">Valor Unitário</th>
                <th class="textRight">Qtd</th>
                <th class="textRight">Valor do Serviço</th>
                <th class="textRight">Base de Cálculo</th>
                <th class="textRight">ISS</th>
            </tr>
            <tr>
                <td class="textLeft">Suporte e manutenção de sistema.</td>
                <td class="textRight">788,000</td>
                <td class="textRight">1,000</td>
                <td class="textRight">788,000</td>
                <td class="textRight">788,00x2,00</td>
                <td class="textRight">15,76</td>
            </tr>
        </table>
    </div>
    <table class="larguraTotal tpBlack btBlack">
        <tr>
            <td class="textCenter">
                FORMA DE PAGAMENTO
            </td>
        </tr>
    </table>
    <div>
        <table class="pdLeft10 pdRight10 larguraTotal">
            <tr>
                <th class="textLeft">Parcela</th>
                <th class="textLeft">Vencimento</th>
                <th class="textLeft">Tipo</th>
                <th class="textRight">Valor</th>
            </tr>
            <tr>
                <td class="textLeft">1</td>
                <td class="textLeft"></td>
                <td class="textLeft">À vista</td>
                <td class="textRight">788,000</td>
            </tr>
        </table>
    </div>
    <table class="larguraTotal tpBlack btBlack">
        <tr>
            <td class="textCenter">
                RETENÇÕES FEDERAIS
            </td>
        </tr>
    </table>
    <div>
        <table class="pdLeft10 pdRight10 larguraTotal">
            <tr>
                <th class="textCenter">PIS/PASEP</th>
                <th class="textCenter">COFINS</th>
                <th class="textCenter">INSS</th>
                <th class="textCenter">IR</th>
                <th class="textCenter">CSLL</th>
                <th class="textCenter">Outras retenções</th>
            </tr>
            <tr>
                <td class="textCenter">R$ 0,00</td>
                <td class="textCenter">R$ 0,00</td>
                <td class="textCenter">R$ 0,00</td>
                <td class="textCenter">R$ 0,00</td>
                <td class="textCenter">R$ 0,00</td>
                <td class="textCenter">R$ 0,00</td>
            </tr>

        </table>
        <table class="pdLeft10 pdRight10 tpBlack btBlack larguraTotal" cellspacing="0">
            <tr>
                <td class="textCenter">Valor bruto = R$ 788,00</td>
                <td class="textCenter lfBlack">Valor líquido = R$ 788,00</td>
                <td class="textCenter lfBlack">Valor tributário = R$ 788,00</td>
            </tr>
        </table>
        <div class="pdLeft10 pdRight10 pd10">
            <h3>Códigos dos serviços:</h3>
            <p>01.07 - Suporte técnico em informática, inclusive instalação, configuração e manutenção de programas de
                computação e bancos de dados.</p>
        </div>
        <table class="pdLeft10 pdRight10 tpBlack larguraTotal" cellspacing="0">
            <tr>
                <th class="textCenter rgBlack">Desc. condicionado(R$)</th>
                <th class="textCenter rgBlack">Desc. incondicionado(R$)</th>
                <th class="textCenter rgBlack">Deduções(R$)</th>
                <th class="textCenter rgBlack">Base de cálculo(R$)</th>
                <th class="textCenter">Valor ISS(R$)</th>
            </tr>
            <tr>
                <td class="textCenter rgBlack">0,00</td>
                <td class="textCenter rgBlack">0,00</td>
                <td class="textCenter rgBlack">0,00</td>
                <td class="textCenter rgBlack">0,00</td>
                <td class="textCenter">0,00</td>
            </tr>
        </table>
        <table class="larguraTotal tpBlack btBlack">
            <tr>
                <td class="textCenter">
                    OUTRAS INFORMAÇÕES
                </td>
            </tr>
        </table>
        <div class="pd10">
            Natureza da operação: Tributação no município<br/>
            Situação tributária do ISSQN: Retenção<br/>
            Local da prestação do serviço: Maringá<br/>
        </div>
    </div>
</div>

</body>
</html>
