<div class="form-group">
    <div class="col-md-4">
        <label
            class="control-label"
            for="responsavelCpfCnpj">CPF ou CNPJ</label>

        <div class="input-group">
            <input type="text"
                   class="form-control"
                   id="responsavelCpfCnpj"
                   name="responsavelCpfCnpj"
                   ui-br-cpfcnpj-mask
                   ng-change="preLoadResponsavel()"
                   ng-model="vm.pessoa.dadosPessoais.cpfCnpj"
                   required>
            <span class="input-group-btn">
                <button type="button" class="btn btn-info"
                        ng-click="searchPessoa()">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
        <div ng-show="vm.formReference.responsavelCpfCnpj.$invalid">
            <p class="help-block"
               ng-show="vm.formReference.responsavelCpfCnpj.$error.required">
                Informe o CPF ou CNPJ
            </p>

            <p class="help-block"
               ng-show="vm.formReference.responsavelCpfCnpj.$error.cpf || vm.formReference.responsavelCpfCnpj.$error.cnpj">
                CPF ou CNPJ inválido
            </p>
        </div>
    </div>
</div>

<div ng-show="vm.formReference.responsavelCpfCnpj.$valid">
    <div class="form-group" ng-if="!isFisica()">
        <div class="col-md-4">
            <label
                for="field_inscricaoMunicipal">Inscrição Municipal</label>

            <input type="text" class="form-control"
                   name="inscricaoMunicipal"
                   id="field_inscricaoMunicipal"
                   ng-disabled="vm.pessoa.id"
                   ng-model="vm.pessoa.dadosPessoais.inscricaoMunicipal">
        </div>

        <div class="col-md-8">
            <label
                class="control-label"
                for="field_nomeFantasia">Nome Fantasia</label>
            <input type="text" class="form-control"
                   name="nomeFantasia"
                   id="field_nomeFantasia"
                   ng-disabled="vm.pessoa.id"
                   ng-model="vm.pessoa.dadosPessoais.nomeFantasia">
        </div>
    </div>

    <div class="form-group">
        <div class=" col-md-4"
             ng-if="!isFisica()"
             ng-class="{'has-error' : vm.formReference.inscricaoEstadual.$invalid && (vm.formReference.$submitted || vm.formReference.inscricaoEstadual.$touched)}">
            <label
                class="control-label"
                for="field_inscricaoEstadual">
                Inscrição Estadual
            </label>

            <input type="text" class="form-control"
                   name="inscricaoEstadual"
                   id="field_inscricaoEstadual"
                   ng-disabled="vm.pessoa.id"
                   ng-model="vm.pessoa.dadosPessoais.inscricaoEstadualRg">


        </div>

        <div class="col-md-4"
             ng-if="isFisica()"
             ng-class="{'has-error' : vm.formReference.rg.$invalid  && (vm.formReference.$submitted || vm.formReference.rg.$touched)}">
            <label
                class="control-label"
                for="field_rg">
                RG
            </label>

            <input type="text" class="form-control"
                   name="rg"
                   id="field_rg"
                   ng-disabled="vm.pessoa.id"
                   ng-model="vm.pessoa.dadosPessoais.inscricaoEstadualRg">

        </div>

        <div
            class="col-md-8"
            ng-class="{'has-error' : vm.formReference.nomeRazaoSocial.$invalid && (vm.formReference.$submitted || vm.formReference.nomeRazaoSocial.$touched)}">
            <label
                class="control-label"
                for="field_nomeRazaoSocial"> {{isFisica() ? 'Nome ':'Razão Social'}}</label>

            <input type="text" class="form-control" name="nomeRazaoSocial"
                   id="field_nomeRazaoSocial"
                   ng-disabled="vm.pessoa.id"
                   ng-model="vm.pessoa.dadosPessoais.nomeRazaoSocial"
                   required>

            <div ng-show="vm.formReference.nomeRazaoSocial.$invalid">
                <p class="help-block"
                   ng-show="vm.formReference.nomeRazaoSocial.$error.required">
                    Informe o Nome ou a Razão Social
                </p>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <label for="field_apelido">Apelido</label>
            <input type="text" class="form-control" name="email" id="field_apelido"
                   ng-disabled="vm.pessoa.id"
                   ng-model="vm.pessoa.dadosPessoais.apelido">

        </div>
        <div class="col-md-5">
            <label for="field_email">e-Mail</label>
            <input type="text" class="form-control" name="email" id="field_email"
                   ng-disabled="vm.pessoa.id"
                   ng-model="vm.pessoa.dadosPessoais.email">

        </div>
        <div class="col-md-3">
            <label
                for="field_telefone">Telefone</label>
            <input type="text" class="form-control" name="telefone" id="field_telefone"
                   ui-br-phone-number
                   ng-disabled="vm.pessoa.id"
                   ng-model="vm.pessoa.dadosPessoais.telefone">
        </div>
    </div>

    <div class="form-group">
        <div class=" col-md-2">
            <label for="field_cep">Cep</label>
            <input type="text" class="form-control" name="id" id="field_cep"
                   ui-br-cep-mask
                   ng-blur="loadEnderecoByCEP(vm.pessoa.dadosPessoais.cep)"
                   ng-disabled="vm.pessoa.id"
                   ng-model="vm.pessoa.dadosPessoais.cep">
        </div>

        <div class="col-md-8">
            <label for="field_nome_municipio">Município</label>
            <div class="input-group">
                <input type="text" class="form-control" name="nome_municipio"
                       id="field_nome_municipio"
                       disabled
                       ng-model="vm.pessoa.dadosPessoais.municipio.nome">
                <span class="input-group-btn">
                                        <button type="button" class="btn  btn-info"
                                                ng-disabled="vm.pessoa.id"
                                                ng-click="searchMunicipio(vm.pessoa.dadosPessoais)">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
            </div>
        </div>

        <div class="col-md-2">
            <label for="field_estado_municipio">Estado</label>
            <input type="text" class="form-control" name="estado_municipio"
                   id="field_estado_municipio"
                   disabled
                   ng-model="vm.pessoa.dadosPessoais.municipio.estado">

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <label
                for="field_logradouro">Logradouro</label>
            <input type="text" class="form-control" name="logradouro"
                   id="field_logradouro"
                   ng-disabled="vm.pessoa.id"
                   ng-model="vm.pessoa.dadosPessoais.logradouro"
            >
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6">
            <label for="field_bairro">Bairro</label>
            <input type="text" class="form-control" name="bairro" id="field_bairro"
                   ng-disabled="vm.pessoa.id"
                   ng-model="vm.pessoa.dadosPessoais.bairro">

        </div>
        <div class="col-md-2">
            <label for="field_numero">Número</label>
            <input type="text" class="form-control" name="numero" id="field_numero"
                   ng-disabled="vm.pessoa.id"
                   ng-model="vm.pessoa.dadosPessoais.numero">
        </div>
        <div class="col-md-4">
            <label
                for="field_complemento">Complemento</label>
            <input type="text" class="form-control" name="complemento"
                   id="field_complemento"
                   ng-disabled="vm.pessoa.id"
                   ng-model="vm.pessoa.dadosPessoais.complemento">
        </div>
    </div>
</div>
