<div class="footer m-t-lg dark-blue-bg text-raleway text-dark-blue">
    <div class="container ">
        <div class="col-md-12">
            <div class="col-md-2 m-t-lg">
                <ul class="list-group text-uppercase">
                    <li class="list-group-item" style="border: none !important;">
                        <a ui-sref="home" title="Página Principal" class="text-white">
                            Home
                        </a>
                    </li>
                    <li class="list-group-item" style="border: none !important;">
                        <a ui-sref="calendario-sorteio" title="Calendário de Sorteios" class="text-white">
                            Calendário de Sorteios
                        </a>
                    </li>
                    <li class="list-group-item" style="border: none !important;">
                        <a ui-sref="premio" title="Prêmios" class="text-white">
                            Prêmios
                        </a>
                    </li>
                    <li class="list-group-item" style="border: none !important;">
                        <a ui-sref="resultado-sorteio" title="Resultados dos Sorteios" class="text-white">
                            Resultados
                        </a>
                    </li>
                    <li class="list-group-item" style="border: none !important;">
                        <a ui-sref="regulamento" title="Regulamento" class="text-white">
                            Regulamento
                        </a>
                    </li>
                    <li class="list-group-item" style="border: none !important;">
                        <a ui-sref="faleconosco" title="Reclamações" class="text-white">
                            Reclamações
                        </a>
                    </li>
                    <li class="list-group-item" style="border: none !important;">
                        <a ui-sref="perguntas-respostas" title="Perguntas e Respostas" class="text-white">
                            Informações
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-5 m-t-lg">
                <div class="row m-t-md" style="padding-top: 50px;">
                    <div class="col-md-12 text-center m-b-md text-white">
                        CONHEÇA TAMBÉM OS APLICATIVOS
                    </div>
                    <div class="col-md-6 text-right">
                        <a href='https://apps.apple.com/us/app/nota-rio-branco/id1573629524'>
                            <img style="width: 80%;"
                                 height="50"
                                 alt='Disponível na App Store'
                                 src='/assets/images/app-store-badge.png'/></a>
                    </div>
                    <div class="col-md-6 text-left no-padding">
                        <a href='https://play.google.com/store/apps/details?id=br.com.riobranco.notapremiada'>
                            <img style="width: 80%;"
                                 height="50"
                                 alt='Disponível no Google Play'
                                 src='/assets/images/google-play-badge.png'/></a>
                    </div>
                </div>
            </div>
            <div class="col-md-5 p-lg m-t-lg">
                <div class="col-md-6 text-center">
                    <img alt="image"
                         style="width: 80%"
                         class="img-preview"
                         ng-src="/assets/images/logo-nota.png"/>
                </div>
                <div class="col-md-6 text-center">
                    <img alt="image"
                         style="width: 80%"
                         class="img-responsive m-t-lg"
                         ng-src="/assets/images/logo-rb-nome.png"/>
                </div>
                <div class="col-md-12 text-center text-white m-t-lg p-lg" style="border-top: 1px solid #095a87">
                    Prefeitura Municipal de Rio Branco, Rua Rui Barbosa, 285 - Centro<br> Rio Branco/AC - CEP 69.900-901
                </div>
            </div>
        </div>

        <div class="col-md-12 text-center m-t-lg text-white">
            Copyright © 2021. Nota Rio Branco. Todos os direitos reservados.
        </div>
    </div>
</div>
